*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100vh;
}

header{
    display: block;
    width: 100%;
    border: 1px red solid;
    text-align: center;
    padding: 5px;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px red solid;
    padding: 5px;
}

main{
    display: block;
    align-items: center;
    align-content: center;
}

footer{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.formulario1{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px red solid;
    
}