@import url('https://fonts.googleapis.com/css2?family=Domine&family=Playfair+Display:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;

}

html{ height:100%;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../imgs/back.svg);   
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

/* -------------------------beggin nav bar --------------------------------*/
#navbarcustomheader, #navcustomfooter{ 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    z-index:1;

}

#navbarcustomfooter{
    height: 100px;
}
#navbarSupportedContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.navbar-brand{
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-family: 'Domine', serif;;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.548);
}

#links{
    width: 50vw;
    justify-content: right;

}

.nav-item{
    padding: 2rem;
}
.nav-link{
    font-size: 25px;
}
.navbar-toggler{
    margin: 1rem;
}


/* -------------------------end nav bar --------------------------------*/


.bd-main-order-1{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.781);
  }

#main-login,#main-recover{
    width: 50%;
    background-color: rgba(240, 248, 255, 0.616);
    justify-content: center;

}



#mainContact{
    margin-top:10rem;
    margin-left: 3rem;
    margin-right: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: initial;
    

}


.gifsContato{
    flex-direction: column;
    width: 70%; 
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);  
    overflow: hidden;
    border-radius: 8px; 
    will-change: transform;
}
.maincontent{
    z-index: 0;
}

.main-text {
    width: 100%;
    height: 500px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin: 0 0 0 0;
    background-color: rgba(28, 26, 129, 0.733);
    font-family:  Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}


.navbar-text{
    font-size: 10px;
}
.container-fluid{
    max-height: 1450px;
}
@media screen and (max-width: 750px){
    #navbarcustom{
        display: flex;
        flex-direction: column;
    } 
   
    #titulo{
       font-size: 2rem;
   }
    #mainContact{
        margin-top: 20rem;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .gifsContato{
        width: 90%;
        margin: 1rem;

    }
}


