@import url('https://fonts.googleapis.com/css2?family=Domine&family=Playfair+Display:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;

}

html{ height:100%;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../../imgs/back.svg);   
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

/* -------------------------beggin nav bar --------------------------------*/
#navbarcustom{ 
    position:fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content; 
    background:rgb(255, 255, 255); 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}
.navbar-brand{
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-family: 'Domine', serif;;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.548);
}

#links{
    width: 50vw;
    justify-content: right;

}

.nav-item{
    padding: 2rem;
}
.nav-link{
    font-size: 25px;
}
.navbar-toggler{
    margin: 1rem;
}


/* -------------------------end nav bar --------------------------------*/


.bd-main.order-1{
    width: 80%;
    height: 100% fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.781);
  }

#main-login,#main-recover{
    width: 50%;
    background-color: rgba(240, 248, 255, 0.616);
    justify-content: center;

}
  /* -----------------especificações do conteúdo do menu ---------------*/
#demo{
    box-sizing: border-box;
    display: block;
    line-height: 22.5px;
    position: static;
    z-index: auto;
}

/*--------------------------------- carrosel ----------------------*/
.carousel .carousel-item {
    height: 400px;

  }
  
  .carousel-item {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 400px;
  }

  .carousel-caption{
      background-color: rgba(0, 0, 0, 0.342);
  }

.bd-main.order-1{
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 16px 32px 32px 32px;
    background-color: rgba(0, 0, 0, 0.212);

}




.geral {
    display: flex;
}

.home {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    width: 60%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 11, 85);
}

.home:hover {
    font-size: 40px;
}

.botoes {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 8px;
    padding-left: 18px;
    background-color: (15, 6, 54, 0.726);
    color: black;
}

.botoes p:hover {
    color: rgb(235, 42, 42);

}

main > #prev-arrow, #next-arrow{
    height: 75%;
    margin: auto;
}


/* -------------------------beggin  footer --------------------------------*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  background:rgb(255, 255, 255);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
  color: rgb(0, 0, 0,0.6);
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}
footer:hover {
    color: black;
}


.col-sm, .coluna{
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.coluna{
    flex-direction: column;
}


#maps{
    margin: 1rem;
}

/* -------------------------end footer --------------------------------*/
